
    <%- include('header') %>
    <h2>
        Admin:
        <a href="/admin/vagas/nova">Nova Vaga</a>
    </h2>
        <div>
            <h3></h3>
            <ul>
                <li><a href="/admin/cateorias">Gerenciar categorias</a></li>
                <li><a href="/admin/vagas">Gerenciar vagas</a></li>
            </ul>
        </div>

    <%- include('footer') %>

